/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  background-color: #ffffff;
  line-height: 1.6;
  transition: background-color 0.3s;
  scroll-behavior: smooth; /* Smooth scrolling */
}

header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #ff6347, #ffeb3b);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ff4500;   
    width: 100%;
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    transform: translateY(-15px);
    color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .nav-links.show {
    display: flex;
    opacity: 1;
    transform: translateY(13px);
  }
  .menu-toggle {
    display: block;
  }
}

header nav ul li a:hover {
  color: #ff4500;
}

.header-logo {
  width: 50px;
  height: auto;
  object-fit: contain;
}

section {
  padding: 80px 20px;
  max-width: 800px;
  margin: 0 auto;
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  position: relative;
}

section h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 4px;
  background-color: #ff4500;
  transition: width 0.3s;
}

section h2:hover::after {
  width: 100%;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    & p {
      text-align: center;
    }
  }
}

.profile-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.profile-photo:hover {
  transform: scale(1.05);
}

section p {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #555;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}

.project-item {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.project-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  object-fit: contain;
}

.project-text {
  display: flex;
  flex-direction: column;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-item:nth-child(1) {
  animation-delay: 0.1s;
}

.project-item:nth-child(2) {
  animation-delay: 0.2s;
}

.technology-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 2fr));
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.technology-item {
  text-align: center;
  transition: transform 0.3s;
}

.technology-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
  filter: grayscale(100%);
  transition: filter 0.3s, transform 0.3s;
}

.technology-item:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.technology-item p {
  font-weight: bold;
  color: #333;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact form label {
  font-weight: bold;
  color: #333;
}

#contact form input,
#contact form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  transition: border-color 0.3s;
}

#contact form input:focus,
#contact form textarea:focus {
  border-color: #ff4500;
  outline: none;
}

#contact form button {
  padding: 15px;
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s, transform 0.3s;
}

#contact form button:hover {
  background-color: #e63900;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #ff6347, #ffeb3b);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  color: #333;
}

/* Botón de cambio de modo */
.theme-toggle {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #101425;
  align-items: center;
  position: fixed;
  border: none;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  transition: background-color 0.3s, transform 0.3s display 0.3s;
  cursor: pointer;
}

.theme-toggle i {
  transition: transform 0.3s;
}

.theme-toggle img:last-child {
  display: none;
}
.theme-toggle img:first-child {
  display: block;
}

.theme-toggle:hover {
  transform: scale(1.05);
}

/* Estilos para modo oscuro */
body.dark-mode {
  background-color: #18181b;
  color: #ffffff;
}
@media (max-width: 768px) {
  body.dark-mode .nav-links {
    background-color: #18181b;
  }
}

body.dark-mode header {
  background: linear-gradient(135deg, #6441a5, #18181b);
}

body.dark-mode header nav ul li a,
body.dark-mode section h2,
body.dark-mode section p,
body.dark-mode .technology-item p,
body.dark-mode footer p {
  color: #ffffff;
}

body.dark-mode section h2::after {
  background-color: green;
}

body.dark-mode .profile-photo {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .project-item {
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode #contact form input,
body.dark-mode #contact form textarea {
  border-color: #ffffff;
}

body.dark-mode #contact form button {
  background-color: #ff4500;
}

body.dark-mode #contact form label {
  color: white;
}

body.dark-mode .theme-toggle {
  background-color: #e8e9ed;
}

body.dark-mode footer {
  background: linear-gradient(135deg, #6441a5, #18181b);
}

body.dark-mode .theme-toggle img:first-child {
  display: none;
}

body.dark-mode .theme-toggle img:last-child {
  display: block;
}

body.dark-mode .theme-toggle i.fas.fa-sun {
  transform: rotate(180deg);
  opacity: 0;
}

body.dark-mode .theme-toggle i.fas.fa-moon {
  transform: rotate(0deg);
  opacity: 1;
}
